<div class="row">
  <div class="large-12">
    <h1><%= @question.title %></h1>
  </div>

  <div class="large-10" id="description"><%= @question.description %></div>
  <br>
  <div class="large-12">
    <%= form_for [@question, @answer] do |f| %>
      <%= f.text_area :answer %>

      <%= f.submit "Submit Answer" %>
    <%- end -%>
      <%= button_to "Edit Question", edit_question_path(@question.id), method: :get%>
      <%= button_to "Delete Question", @question, method: :delete, data: {
        confirm: "Are you sure you want to delete this question?"} %>
  </div>

  <br>
  <h3>Answers</h3>

  <div class="large-10 offset-2">
    <ul>
      <% unless @all_answers.nil? %>
        <% @all_answers.each do |answer| %>
          <li> <%= answer.answer %> </li>
        <% end %>
      <% end %>
    </ul>
  </div>



</div>
