<div class="row">
  <div class="large-12">
    <h1><%= @question.title %></h1>
  </div>

  <div class="large-10" id="description"><%= @question.description %></div>


  <div class="large-12">
    <%= form_for [@question, @answer] do |f| %>
      <%= f.text_area :answer %>

      <%= f.submit "Submit your answer" %>
    <%- end -%>
  </div>

  <div class="large-10 offset-2">
    <ul>
      <% unless @all_answers.nil? %>
        <% @all_answers.each do |answer| %>
          <li> <%= answer.answer %> </li>
        <% end %>
      <% end %>
    </ul>
  </div>


</div>
